.modify {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  padding: 5px;
  .left, .right {
    margin: 7px;
    box-sizing: border-box;
    height: calc(100vh - 52px - 10px - 14px);
  }
  .left {
    flex: 2.5;
    .btns {
      margin-top: 13px;
      height: 40px;
      display: flex;
      overflow: hidden;
      span {
        line-height: 40px;
        text-align: center;
        flex: 1;
      }
    }
    .list {
      padding: 10px 0px;
      height: calc(100vh - 52.0px - 37px - 40px);
      box-sizing: border-box;
      overflow: auto;
      p {
        padding: 5px 10px;
      }
      .onP {
        box-shadow: 0px 0px 4px -2px;
        background: #afafafab !important;
      }
    }
    .list::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }

  .right {
    flex: 9.5;
    display: flex;
    flex-direction: column;
    text-align: center;
    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 13px;
      align-items: center;
      span {
        padding-left: 20px;
        font-size: 20px;
      }
      .search {
        text-align: center;
        line-height: 30px;
        height: 30px;
        width: 150px;
      }
    }
    .table {
      height: 0px;
      flex: 4;
      overflow: auto;
      margin-bottom: 13px;
      position: relative;
      table {
        width: 100%;
        border-collapse: collapse;
        overflow: auto;
        tr {
          height: 24px;
          line-height: 24px;
          border-bottom: 1px solid #b5b5b5;
          th:nth-child(1) {
            min-width: 188px;
          }
          th:nth-child(2) {
            min-width: 100px;
          }
          .modify {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 230px;
            display: inline-block;
          }
        }

        .onTr {
          box-shadow: 0px 0px 4px -2px;
          background: #afafafab !important;
        }
      }
      .tableHeader {
        position: absolute;
        top: 1px;
        left: 0px;
      }
    }
    .table::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    .btns {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .paging {
        span {
          line-height: 40px;
          padding: 10px 10px;
          input {
            width: 35px;
            height: 20px;
            font-size: 16px;
            background: transparent;
            text-align: right;
            border: 0px solid rgba(221, 221, 221, 0.5960784314);
          }
        }
      }

      .operation {
        overflow: hidden;
        span {
          padding: 10px 25px;
          line-height: 40px;
        }
      }
    }
    .subject {
      text-align: center;
      flex: 2;
      margin-bottom: 13px;
      border: 0px;
    }
    .answer {
      border: 0px;
      margin-bottom: 13px;
      flex: 3;
    }
  }
}

.hover:hover,
.hover:target {
  box-shadow: 0px 0px 5px -1px;
  background: #dddddd;
}